@tailwind base;
@tailwind components;
@tailwind utilities;

/* 隱藏滾動條 */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
